body{
    background-color: blanchedalmond;
}

.PacsImage{
    /* display: block; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    width: max-content;
    /* height: 1%; */  
    height: max-content; 
}
.mainContainer{
    position: absolute;
}
.AruoPicDiv{
    position: relative;
    /* background-color: aqua; */
    width: 60%;
    height: 10%;
}
@font-face {
    font-family: PacsIMG_Font;
    src: url(./Fonts/Maderon-Regular.woff);
  }
.PacsText{
    position: absolute;
    display: block;
    margin-left: 20%;
    margin-right: 50%;
    margin-top: -70%;
    font-family: PacsIMG_Font;
    font-size: 200px;
    color: aliceblue;
}